<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>module view 分离写法</title>
    <script src="../angular.min.js"></script>
</head>
<body ng-app="body">
<form action="" ng-controller="c1">
    <!--三个下来菜单对应了三个module 但是没在scope里写而已 数据对应了一个module 已经在scope里给出了 实际上是四个module-->
    <select ng-model="parent" ng-options="x.id as x.name for x in cities | cityFilter:0"></select>
    <select ng-model="son1" ng-show="parent" ng-options="x.id as x.name for x in cities | cityFilter:parent"></select>
    <select ng-model="son2" ng-show="son1" ng-options="x.id as x.name for x in cities | cityFilter:son1"></select>
</form>
</body>
<script>
    angular.module('body',[])

            .filter('cityFilter',function(){
                return function(data,parent){
                    var filterData=[];
                    angular.forEach(data,function(obj){
                        if(obj.parent==parent){
                               filterData.push(obj)
                        }
                    });
                    return filterData
                }
})


            .controller('c1',['$scope',function($scope){
                $scope.cities=[
                    {
                    name:'上海',
                    parent:0,
                    id:1
                    },
                    {
                        name:'上海市',
                        parent:1,
                        id:2
                    },
                    {
                        name:'徐汇区',
                        parent:2,
                        id:8
                    },
                    {
                        name:'长宁区',
                        parent:2,
                        id:3
                    },
                    {
                        name:'北京',
                        parent:0,
                        id:4
                    },
                    {
                        name:'北京市',
                        parent:4,
                        id:5
                    },
                    {
                        name:'东城区',
                        parent:5,
                        id:6
                    },
                    {
                        name:'丰台区',
                        parent:5,
                        id:7
                    },
                    {
                        name:'浙江',
                        parent:0,
                        id:9
                    },
                    {
                        name:'杭州',
                        parent:9,
                        id:100
                    },
                    {
                        name:'宁波',
                        parent:9,
                        id:11
                    },
                    {
                        name:'西湖区',
                        parent:100,
                        id:12
                    },
                    {
                        name:'北仑区',
                        parent:11,
                        id:13
                    }
                ]
            }])
</script>
</html>