<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-app="body">
   <div ng-controller="ct1">
       <input type="text" ng-model="name"/>
       <span ng-bind="name"></span>
       <span ng-bind="age"></span>
       <div ng-controller="ct2">
           <input type="text" ng-model="name"/>
           <span ng-bind="name"></span>
           <span style="color: #ff0000" ng-bind="age"></span>
       </div>
   </div>

</body>
<script src="../angular.min.js"></script>
<script>
    angular.module('body',[]).controller({
        ct1:function($scope){$scope.name='red';$scope.age='18'},
        ct2:function($scope){$scope.name='blue'}
    });
//    子函数可以访问父函数的变量 但是子函数自己声明这个变量后并改变值 父元素访问不到所以也不会变
</script>
</html>