<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../angular.min.js"></script>
    <style>
        input{
            border: 1px solid #cacaca;
            outline: none;
        }
        .error{
            border-color: #ff0000;
        }
    </style>
</head>
<body ng-app="body">
<div >
    <form name="form" ng-controller="c1">

        <div>
            密码： <input autocomplete="false" ng-class="{error:form.aaa.$invalid&&form.aaa.$dirty}" name="aaa" type="password" ng-model="pas" ng-minlength="5" ng-maxlength="16" ng-required="true"/>
            <div ng-show="form.aaa.$error.minlength">密码长度少于5位</div>
            <div ng-show="form.aaa.$error.maxlength">密码长度大于16位</div>
            <div ng-show="form.aaa.$error.required&&form.aaa.$dirty">不能为空</div>
        </div>

        <div>
            验证： <input autocomplete="false" name="psd" type="password" ng-model="yzpsd" ng-class="{error:yzpsd!=pas&&form.aaa.$valid&&form.psd.$dirty}"/>
            <div ng-show="yzpsd!=pas&&form.aaa.$valid&&form.psd.$dirty">两次密码不一致</div>
        </div>


        <div>
            邮箱：<input name="email" type="email" ng-minlength="5" ng-maxlength="30" ng-model="email"/>
            <div ng-show="form.email.$error.email">格式不正确</div>
            <div ng-show="form.email.$error.minlength">不能小于5位</div>
            <div ng-show="form.email.$error.maxlength">不能多于30位</div>
        </div>

        <div>
            boke：<input type="url" ng-model="block" name="boke"/>{{form.boke.$error.url}}
            <div ng-show="form.boke.$error.url">请输入正确博客地址</div>
        </div>
    </form>
</div>
</body>
<script>
    angular.module('body',[])
            .controller('c1',['$scope',function($scope){
            }])
</script>
</html>