<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../angular.min.js"></script>
</head>
<body ng-app="body">
<!--知识点：1. 循环forEach（循环谁，function（每一个它）{ }）；2.ng-repeat-->
<div ng-controller="table">
    <table ng-show="json.length">
        <tr ng-repeat="i in json">
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>
                <button ng-click="red(i.id)">-</button>
                <!--{{i.number}}-->
                <input type="text" ng-model="i.number"/>
                 <button ng-click="add(i.id)">+</button>
            </td>
            <td>{{i.price}}</td>
            <td>{{i.price*i.number}}</td>
            <td>
                <button ng-click="remove(i.id)">{{delete}}</button>
            </td>
        </tr>
        <tr>
            <td>总价 {{zongjia()}} 总数量 {{zongshuliang()}}
                <button ng-click="json={}">清空购物车</button>
            </td>

        </tr>

    </table>
    <p ng-show="!(json.length)">你的购物车为空</p>
</div>
</body>
<script>
    angular.module('body', []).controller('table', function ($scope) {
        //自定义属性
        $scope.a='1';
        $scope.b='-1';


        $scope.delete = '移除';

        //删除键 之所以会动态改变数据 是因为是用ng-click触发的 只要用ng触发都会触发脏检查
        $scope.remove = function (id) {
            //下面写一个findId把下面这段程序写出来
            var i = -1;
            angular.forEach($scope.json, function (a, key) {
                if (a.id === id) {
                    i = key;
                }
            });
            if (i !== -1) {
                $scope.json.splice(i, 1)
            }
        };

        //找到一个元素的索引 实际就是看看他是第几个
        var findIndex=function(id){
            var i=-1;
            angular.forEach($scope.json,function(z,key){
                if(z.id==id){
                    i=key;
                    return i;
                }
            });
            return i
        };
        //加  减 按钮
       $scope.add=function(id){
           var k=findIndex(id);
//           alert(k)
           $scope.json[k].number++;
       };
        $scope.red=function(id){
           var i=findIndex(id);
            if($scope.json[i].number>1){
                $scope.json[i].number--
            }else{
                var flag=confirm('确定删除该商品吗');
                if(flag){
                    $scope.remove(id)
                }
            }
        };
        //数据
        $scope.json = [
            {
                id: '1000',
                name: 'iphone5s',
                number: '3',
                price: '4300'
            },
            {
                id: '2000',
                name: 'iphone5',
                number: '2',
                price: '3300'
            },
            {
                id: '3000',
                name: 'mac',
                number: '5',
                price: '23300'
            },
            {
                id: '4000',
                name: 'ipad',
                number: '5',
                price: '5300'
            }
        ];

        //总价
        $scope.zongjia = function () {
            var sum = 0;
//            for(var i in $scope.json){
//                sum+=$scope.json[i].number*$scope.json[i].price;
//            }
//          angular有提供一个forEach方法
            angular.forEach($scope.json, function (item) {
                sum += item.number * item.price
            });
            return sum
        };


        //总数量
        $scope.zongshuliang = function () {
            var sum = 0;
            angular.forEach($scope.json, function (a) {
                sum += parseInt(a.number)
            });
            return sum
        };


        //    要监听数量
        $scope.$watch('json',function(n,o){
            angular.forEach(n,function(self,key){
                if(self.number<0){
                    alert('请正确输入');

                }
                return 0;
            })
        },true)
    });
</script>
</html>