<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../angular.min.js"></script>
</head>
<body ng-app="body">
     <div ng-controller="div1">
         <input type="text" ng-model="name.a"/>
         {{name.a}}
         factory共享的方法 <input type="text" ng-model="gongxiang.a"/>
         service共享的方法 <input type="text" ng-model="She.b"/>
     </div>
     <div ng-controller="div2">
         <input type="text" ng-model="name.a"/>
         {{name.a}}
         factory共享的方法{{gongxiang.a}}
         service共享的方法{{She.b}}
     </div>
</body>
<script>
    var body=angular.module('body',[],function($provide){
        $provide.factory('Sherry01',function(){
            return {'a':'123'};                    //共享数据不许返回一个对象
        });
        $provide.service('She',function(){
            return{
                b:'She'
            }
        })
    });
    body.controller('div1',function($scope,Sherry01,She){
        $scope.name={a:'aaa'};
        $scope.gongxiang=Sherry01;
        $scope.She=She



    });
    body.controller('div2',function($scope,Sherry01,She){
        $scope.name=$scope.$$prevSibling.name;       //方法1 通过找上下兄弟以及父级共享
        $scope.gongxiang=Sherry01;
        $scope.She=She
    })
</script>
</html>