<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../angular.min.js"></script>
    <style>
        .ngactive{
            color: #ff0000;
        }
    </style>
</head>
<body ng-app="body">
<input type="text" ng-model="checkID.id"/>通过id找到商品
    <div ng-controller="c1">
        <table>
            <tr>
                <td>id <button ng-class="{ngactive:orderType=='id'}" ng-click="change('id')">排序</button></td>
                <td>商品</td>
                <td>单价 <button ng-class="{ngactive:orderType=='value'}" ng-click="change('value')">排序</button></td>
                <td>数量 <button ng-class="{ngactive:orderType=='num'}" ng-click="change('num')">排序</button></td>
                <td>操作</td>
            </tr>
            <tr ng-repeat="i in json |filter:checkID |orderBy:order+orderType">
                <!--filter:{id:checkID}-->
                <td>{{i.id}}</td>
                <td>{{i.name}}</td>
                <td>{{i.value}}</td>
                <td>{{i.num}}</td>
                <td><button ng-click="delete(i.id)">删除</button></td>
            </tr>
        </table>
    </div>
</body>
<script>
//    知识点 ：
//    1 搜索列表中的内容 用 |filter:check
//    2 排序 用 |orderBy:a+b  用ab两个参数排序的升降 和对谁排序  a：正负号 代表顺序升降 b：代表 对谁排序
//    3 ng-class='{active:true}'  ng类名通过一个特殊的json获得 当类名对应的表达式为真时候才得到类名 否则 跳过
    angular.module('body',[]).controller('c1',function($scope){
        var find=function(id){
            var i=-1;
            angular.forEach($scope.json,function(ited,key){
                if(ited.id===id){
                    i=key;
                    return i
                }
            });
            return i
        };

        $scope.orderType='id';
        $scope.order='';

        $scope.change=function(type){
            $scope.orderType=type;
            if($scope.order==='-'){
                $scope.order=''
            }else{
                $scope.order='-'
            }
        };


        $scope.delete=function(id){
            var i=find(id);
            $scope.json.splice(i,1)
        };


        $scope.json=[
            {
            id:1000,
            name:'iphone6s',
            value:5400,
            num:5
           },
            {
                id:2000,
                name:'iphone5s',
                value:3400,
                num:3
            },
            {
                id:3000,
                name:'mac',
                value:15400,
                num:4
            },
            {
                id:4000,
                name:'ipad',
                value:5000,
                num:6
            }
        ]
    })
</script>
</html>